header{
    color: red;
    background-color: green;
    width: 100%;
    height: 6vh;
}
header center h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:azure;
    font-size: larger;
    background-color: green;
    padding-top: 1vh;
}
center h1{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
