/* Unknown Status Starts here*/
unknown-status header{
    color: rgb(75, 75, 75);
    background-color: rgb(75, 75, 75);
    width: 100%;
    height: 6vh;
}
unknown-status header center h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:azure;
    font-size: larger;
    background-color: rgb(75, 75, 75);
    padding-top: 1vh;
}
unknown-status-invis header{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 6vh;
}
unknown-status-invis header center h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 255, 255);
    font-size: larger;
    background-color: rgb(255, 255, 255);
    padding-top: 1vh;
}
unknown-text center h1{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
unknown-text-invis center h1{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
/* Unknown Status Ends here*/
/* Passed Status Starts here*/
passed-status header{
    color: rgb(0, 255, 42);
    background-color: rgb(0, 255, 42);
    width: 100%;
    height: 6vh;
}
passed-status header center h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:azure;
    font-size: larger;
    background-color: rgb(0, 255, 42);
    padding-top: 1vh;
}
passed-status-invis header{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 6vh;
}
passed-status-invis header center h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 255, 255);
    font-size: larger;
    background-color: rgb(255, 255, 255);
    padding-top: 1vh;
}
passed-text center h1{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
passed-text-invis center h1{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
/* Passed Status Ends here*/
/* Failed Status Starts here*/
failed-status header{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 6vh;
}
failed-status header center h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:azure;
    font-size: larger;
    background-color: rgb(255, 0, 0);
    padding-top: 1vh;
}
failed-status-invis header{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 6vh;
}
failed-status-invis header center h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 255, 255);
    font-size: larger;
    background-color: rgb(255, 255, 255);
    padding-top: 1vh;
}
failed-text center h1{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
failed-text-invis center h1{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
/* Failed Status Ends here*/
