header{
    color: black;
    background-color: black;
    height: 6vh;
    width: 100%;
}
header img{
    height: 6vh;
    padding-left: 1px;
}
header name-tag{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 80%;
    padding-bottom: 2vh;
}
header span{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding-left: 80%;
    padding-bottom: 10%;
}
center h2{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    padding-top: 17%;
}