header{
    color: rgb(75, 75, 75);
    width: auto;
    height: 6vh;
}
header center h2{
    color: rgb(75, 75, 75);
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 1vh;
}
center h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
